html {
	/* min-height: 100vh; */

	/* padding-bottom: 20px; */
}

.main-container {
	/* height: 100%; */
	min-height: calc(100vh - 80px);
	margin: 0% 10%;
	display: flex;
	flex-direction: column;
	/* outline: solid red; */
}
/* style nav tabs */

.nav-tabs {
	display: flex;
	justify-content: space-around;
	list-style: none;

	margin: 30px;
	padding: 5px;
}

.nav-item {
	font-size: 24px;
	padding: 5px;
}

/* sidebar Nav */

.hamburger {
	position: relative;
}

.hamburger button {
	position: fixed;
	right: 40px;
	top: 30px;
	z-index: 18;
}

.menuNav {
	list-style: none;
	position: fixed;
	top: 0;
	background: rgb(175, 71, 71);
	left: 0;
	bottom: 0;
	height: 100vh;
	width: 0;
	overflow: hidden;

	z-index: 9;

	/* overwrite default styling */
	padding-left: 0%;
	margin-top: 0%;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.menuNav.showMenu {
	width: 100%;
}

.menuNav li {
	padding: 20px 50px;
	text-decoration: none;
	color: #000000;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 30px;
}

.menuNav li:first-child {
	margin-top: 7rem;
}

/* sweeping underline navtabs */

.sweep-to-right {
	padding: 20px;

	display: inline-block;
	transform: perspective(1px) translateZ(0);
	position: relative;
	transition: color 0.3s;
}
.sweep-to-right:before {
	content: '';
	position: absolute;
	top: 63px;
	left: 0;
	right: 0;
	bottom: 0px;
	z-index: -1;
	/* background: #2098D1; */
	transform: scaleX(0);
	transform-origin: 0 50%;
	transition: transform 0.3s ease-out;
}
.sweep-to-right:hover {
	color: white;
}
.sweep-to-right:hover:before {
	transform: scaleX(1);
}

.sweep-to-right.about:before {
	background: red;
}
.sweep-to-right.contact:before {
	background: red;
}

.sweep-to-right.portfolio:before {
	background: red;
}

.sweep-to-right.resume:before {
	background: red;
}

.sweep-to-right.active:before {
	transform: scaleX(1);
	background: #35d120;
}

.nav a {
	text-decoration: none;
	background-color: #fff; /* necessary for underline effect */
}
/* end sweep */

/* footer */

footer {
	display: flex;
	justify-content: center;
}

.footer-container {
	display: flex;
	justify-content: space-around;

	font-size: 16px;
	height: 20px;
}

.footer-links a:hover svg {
	animation: bounce 1s linear infinite;
}

@keyframes bounce {
	0%,
	25%,
	50%,
	75%,
	100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-18px);
	}
	60% {
		transform: translateY(-10px);
	}
}
