.main-container {
	margin: 5% 10%;
  display: flex;
  flex-direction: column;
  /* outline: solid red; */
}
/* style nav tabs */

.nav-tabs {
	display: flex;
	justify-content: space-around;
	list-style: none;

	margin: 30px;
	padding: 5px;
  
}

.nav-item {
	font-size: 24px;
	padding: 5px;
  
}

.nav a {
	text-decoration: none;
  
}

/* footer */

footer {
	display: flex;
	justify-content: space-around;

  padding-top: 20px;
  font-size: 16px;

  flex-shrink: 0;

}

.footer-links a {
	padding: 0 10px;
	
	text-decoration: none;


}

.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
